[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
transformers = "*"
datasets = "*"
tiktoken = "*"
wandb = "*"
tqdm = "*"
requests = "*"
tensorflow = "*"
scikit-learn = "*"
pandas = "*"
np-utils = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
